body {
    background: paleturquoise;
  }
  
  .container {
    text-align: center;
    margin-top: 150px;
  }
  
  input {
    font-size: 20px;
    border-radius: 4px;
  }
  button {
    font-size: 2em;
  }
  h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
  }